asgiref==3.5.2
attrs==22.2.0
distlib==0.3.6
Django==4.1.1
emoji==2.2.0
exceptiongroup==1.1.1
filelock==3.8.0
glfw==2.5.5
iniconfig==2.0.0
packaging==23.0
pbr==5.10.0
platformdirs==2.5.2
pluggy==1.0.0
py==1.11.0
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pytest==7.2.2
pytest-html==3.2.0
pytest-metadata==2.0.4
python-qt==0.50
sqlparse==0.4.2
stevedore==4.0.0
tomli==2.0.1
virtualenv==20.16.5
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
